* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1{
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 4rem;
}
